pandas
numpy
streamlit
scikit-learn
xgboost
category_encoders
joblib
protobuf
keras
absl-py
astunparse
flatbuffers
gast
google-pasta
grpcio
h5py
libclang
opt-einsum
packaging
six
tensorflow==2.12.1  # Downgraded from 2.13.0
tensorboard
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing-extensions
wheel
wrapt
